<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index Page</title>
        <link rel="stylesheet" href="https://use.typekit.net/zpe1aid.css">
        <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cuprum&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=.50">
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            <h1>outfit planner</h1>
            <h3>simplify your days</h3>
        </div>
        <!-- CONTAINER -->
        <div class="container">
            <%for (let i = 0; i < outfits.length; i++) { %>
            <div class="days">
            <h2>day <%= outfits[i].day %> </h2>
        <!-- BUTTONS -->
        <div class="buttons">
            <a href="/outfits/<%=outfits[i].id%>"> VIEW
            </a>
            <a href="/outfits/<%=outfits[i].id%>/edit">EDIT</a>
        </div>
            </div>
            <% } %>
        </div>
        <!-- FOOTER -->
        <div class="createButton">
            <a href="/outfits/new">
                create new outfit
            </a>
        </div>
    </body>
</html>
