<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NEW PAGE</title>
        <link rel="stylesheet" href="https://use.typekit.net/zpe1aid.css">
        <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cuprum&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/new.css">
        <meta name="viewport" content="width=device-width, initial-scale=.50">
    </head>
    <body>
        <div class="header">
        <h1>New Clothes Page</h1>
        </div>
        <div class="container">
        <form action="/outfits" method="POST">
            Outfit Day: <input type="text" name="day"/><br/>
            Top Image Link: <input type="text" name="topImg" /><br/>
            Bottom Image Link: <input type="text" name="bottomImg" /><br/>
            Shoes Image Link: <input type="text" name="shoesImg" /><br/>
            Accessories Image Link: <input type="text" name="accessoriesImg" /><br/>
            <br/>
            <div class="footer">
            <input type="submit" name="" value="Create New Product"/>
            </div>
        </form>
    </div>
    </body>
</html>
